.full{
    position: relative;
    width: 100%;
    height: 100%;
}

.app {
  position: relative;
  width: 100wh;
  height: 100vh;
}

.shutdown {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-image: url("../../images/shutdown.svg");
  cursor: pointer;
}

.reboot {
  position: absolute;
  top: 30px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-image: url("../../images/reboot.svg");
  cursor: pointer;
}
