<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<head>
  <style>
  body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
  }

  canvas {
    border: 0;
  }

  #yui3-css-stamp {
    display: none;
  }

  .output {
    position: absolute;
    left: 200px;
    height: 100%;
    width: 300px;
  }

  .output-items {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .slider {
    position: relative;
    margin-top: 6px;
    margin-bottom: 30px;
    width: 100%;
  }

  .text-line{
    padding-bottom: 6px;
  }

  .download {
    cursor: pointer;
    user-select: none;
  }

  .info {
    display: flex;
    /*HIDE*/
    display: none;
    /*HIDE*/
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .info--title {
    margin-top: 6px;
  }

  .info--data {
    margin-left: 6px;
  }
  </style>
</head>

<body>
  <div class="output">
    <div class="output-items">
      <div  class="text-line test--complete">Test complete</div>
      <div class="slider-label">A</div>
      <div class="slider slider--red"></div>
      <div class="slider-label">B</div>
      <div class="slider slider--green"></div>
      <div class="slider-label">C</div>
      <div class="slider slider--blue"></div>
      <div class="text-line download">Download results</div>
      <div class="info">
        <span class="info--title">Hex:</span>
        <span class="info--data" id="hex"></span>
        <br>
        <span class="info--title">RGB:</span>
        <span class="info--data" id="rgb"></span>
        <br>
        <span class="info--title">HSL:</span>
        <span class="info--data" id="hsl"></span>
      </div>
    </div>
  </div>
  <canvas id="myCanvas"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/color-js/1.0.1/color.min.js"></script>
  <script>
  //get output div by its class
  var outputEl = document.querySelector('.output')
  var c = document.getElementById("myCanvas");
  c.width = window.innerWidth
  c.height = window.innerHeight

  var ColorLibrary = net.brehaut.Color;
  var ctx = c.getContext("2d");

  //**************
  /// MATCHING COLOR
  //**************

  var rSliderValue = Math.round(0.999 * 255),
    gSliderValue = Math.round(0.999 * 255),
    bSliderValue = Math.round(0.999 * 255)
  var UserColor = ColorLibrary([rSliderValue, gSliderValue, bSliderValue]);

  //**************
  /// HELPER FUNCTIONS
  //**************

  function userColorRGB() {
    return "rgb(" + UserColor.getRed() + ", " + UserColor.getGreen() + ", " + UserColor.getBlue() + ")";
  }

  function rgbToHSL(r, g, b, css) {
    r /= 255, g /= 255, b /= 255;

    var max = Math.max(r, g, b),
      min = Math.min(r, g, b);
    var h, s, l = (max + min) / 2;

    if (max == min) {
      h = s = 0; // achromatic
    } else {
      var d = max - min;
      s = l > 0.5 ? d / (2 - max - min) : d / (max + min);

      switch (max) {
        case r:
          h = (g - b) / d + (g < b ? 6 : 0);
          break;
        case g:
          h = (b - r) / d + 2;
          break;
        case b:
          h = (r - g) / d + 4;
          break;
      }

      h /= 6;
    }
    if (!css) {
      return [
        parseFloat((h * 100).toFixed(1)),
        parseFloat((s * 100).toFixed(1)),
        parseFloat(l.toFixed(1))
      ]
    }
    return "hsl(" + (h * 100).toFixed(1) + "% , " + (s * 100).toFixed(1) + "% , " + l.toFixed(1) + ")";
  }

  var RGBToHex = function(r, g, b) {
    var bin = r << 16 | g << 8 | b;
    return (function(h) {
      return new Array(7 - h.length).join("0") + h
    })(bin.toString(16).toUpperCase())
  }

  function convertArrayOfObjectsToCSV(args) {
    var result, ctr, keys, columnDelimiter, lineDelimiter, data;

    data = args.data || null;
    if (data == null || !data.length) {
      return null;
    }

    columnDelimiter = args.columnDelimiter || ',';
    lineDelimiter = args.lineDelimiter || '\n';

    keys = Object.keys(data[0]);

    result = '';
    result += keys.join(columnDelimiter);
    result += lineDelimiter;

    data.forEach(function(item) {
      ctr = 0;
      keys.forEach(function(key) {
        if (ctr > 0) result += columnDelimiter;

        result += item[key];
        ctr++;
      });
      result += lineDelimiter;
    });

    return result;
  }

  function downloadCSV(obj) {
    var data, filename, link;
    var csv = convertArrayOfObjectsToCSV({
      data: obj.data
    });
    if (csv == null) return;
    var date = new Date()
    date.toLocaleString('en-us', {
      year: 'numeric',
      month: 'short',
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit'
    });
    filename = obj.filename || date + '.csv';

    if (!csv.match(/^data:text\/csv/i)) {
      csv = 'data:text/csv;charset=utf-8,' + csv;
    }
    data = encodeURI(csv);

    link = document.createElement('a');
    link.setAttribute('href', data);
    link.setAttribute('download', filename);
    link.click();
  }

  //**************
  /// RESIZE HELPER FUNCTIONS
  //**************

  var radius
  var leftCIrcleX
  /*
  !!!!
  Control size of circle,
  smaller = bigger
  */
  var CIRCLE_RADIUS_DEVISOR = 3

  function getScreenSize() {
    radius = Math.min(Math.min(window.innerWidth, window.innerHeight) / CIRCLE_RADIUS_DEVISOR, 300) // value to scale the circles, max radius of 300
    leftCIrcleX = Math.max(window.innerWidth / 4, radius + 20) //20 pixels minimum from the side
    c.width = window.innerWidth
    c.height = window.innerHeight
    outputEl.style.left = leftCIrcleX * 2 + "px"
    outputEl.style.width = (window.innerWidth - leftCIrcleX * 2 - 70) + "px"
  }

  /*
  CREATE A SLIDER
  */
  function createSlider(element) {
    var start = 0.999 * 255
    noUiSlider.create(element, {
      start: [start],
      connect: true,
      range: {
        'min': 0,
        'max': start
      }
    });
  }

  var hexEl = document.getElementById("hex");
  var rgbEl = document.getElementById("rgb");
  var hslEl = document.getElementById("hsl");
  var rSlider = document.querySelector('.slider--red');
  var gSlider = document.querySelector('.slider--green');
  var bSlider = document.querySelector('.slider--blue');
  var outputItemsEl = document.querySelector('.output-items');
  var downloadEl = document.querySelector('.download');
  var testCompleteEl = document.querySelector('.test--complete');
  /*HIDE ELEMENTS*/
  downloadEl.style.display = "none"
  testCompleteEl.style.visibility = "hidden"
  outputItemsEl.style.visibility = "hidden"

  /*EXPORT CSV*/
  downloadEl.addEventListener('click', function() {
    downloadCSV({ data: OUTPUT_DATA })
  })

  //boom,boom,boom
  createSlider(rSlider)
  createSlider(gSlider)
  createSlider(bSlider)


  //!!!!!!!!!!! we hide this in the .CSS
  function updateOutput() {
    hexEl.innerText = "#" + RGBToHex(UserColor.getRed(), UserColor.getGreen(), UserColor.getBlue()) //UserColor.toCSS(1)
    rgbEl.innerText = userColorRGB()
    hslEl.innerText = rgbToHSL(UserColor.getRed(), UserColor.getGreen(), UserColor.getBlue())
  }

  /*
  TEST LOOP BELOW !!!
  */


  //***********
  // SETUP
  //***********
  var STARE_DURATION = 10000
  var MATCH_DURATION = 10000
  var RESET_DURATION = 1000
  var WHITE = [255, 255, 255]
  var BACKGROUND_GREY = [128, 128, 128]
  var RGB_TEST_VALUES = [
    [255, 87, 87],
    [255, 87, 87],
    [255, 87, 87],
  ]
  var OUTPUT_DATA = []

  //***********
  // internal variables
  //***********
  var _testIndex = 0
  var _testSequence = []


  //***********
  // internal setup function
  //***********
  function setTestTimings() {
    var _time = 0
    RGB_TEST_VALUES.forEach(function(_, i) {

      _time += STARE_DURATION
      /*
      Testing testObject
      */
      _testSequence.push({
        endTime: _time,
        leftCircleRGB: RGB_TEST_VALUES[i],
        leftCircleHSL: rgbToHSL(...RGB_TEST_VALUES[i]),
        rightCircleRGB: BACKGROUND_GREY,
        isMatchingMode: false,
      })

      _time += MATCH_DURATION
      /*
      Matching testObject
      */
      _testSequence.push({
        endTime: _time,
        leftCircleRGB: WHITE,
        rightCircleRGB: WHITE, // will be overwritten by UserColor
        isMatchingMode: true,
      })

      _time += RESET_DURATION

      if (RESET_DURATION) {
        /*
      RESET
      reset testObject
      */
        _testSequence.push({
          endTime: _time,
          leftCircleRGB: BACKGROUND_GREY,
          rightCircleRGB: BACKGROUND_GREY,
          isResetingMode: true,
          isMatchingMode: false,
        })
      }
    })
  }

  setTestTimings()


  //***********
  // DRAWING!!!
  /*
    This is a loop at 60fps
    we measure elapsed time at the end to step through the timings
  */
  //***********

  var _timeElapsed = performance.now()

  function drawCanvas() {
    //check to see if completed, anc cancek out if so
    if (_testIndex >= _testSequence.length - 1) {
      testCompleteEl.style.visibility = "visible"
      outputItemsEl.style.visibility = "visible"
      return
    }


    //pick the testObject out
    var testObject = _testSequence[_testIndex]
    //short hand access
    var isMatchingMode = testObject.isMatchingMode
    /*
    Wipe the canvas
    */
    ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);

    /*
    Backgrround color
    */
    ctx.fillStyle = "rgb(" + BACKGROUND_GREY.join(",") + ")";
    ctx.fillRect(0, 0, window.innerWidth, window.innerHeight);

    ctx.strokeStyle = "rgb(0,0,0)";
    ctx.lineWidth = 1;

    /*
    Left circle
    */
    ctx.beginPath();
    ctx.arc(leftCIrcleX, window.innerHeight / 2, radius, 0.5 * Math.PI, 1.5 * Math.PI, false);
    ctx.closePath();
    ctx.fillStyle = "rgb(" + testObject.leftCircleRGB.join(",") + ")";
    ctx.fill();
    ctx.stroke();

    /*
    Right circle
    */
    ctx.beginPath();
    ctx.arc(leftCIrcleX, window.innerHeight / 2, radius, 0.5 * Math.PI, 1.5 * Math.PI, true);
    ctx.closePath();
    if (isMatchingMode) {
      ctx.fillStyle = userColorRGB()
    } else {
      ctx.fillStyle = "rgb(" + testObject.rightCircleRGB.join(",") + ")";
    }
    ctx.fill();
    ctx.stroke();

    /*
    Focus circle
    */
    var remappedTime = _timeElapsed * 0.003
    ctx.setLineDash([])
    ctx.beginPath();
    ctx.ellipse(
      leftCIrcleX, //x
      window.innerHeight / 2, //y
      Math.abs(Math.cos(remappedTime)) * 2.5 + 2.5, //radiusX
      Math.abs(Math.sin(remappedTime)) * 2.5 + 2.5, //radiusY
      45 * Math.PI / 180, 0, 2 * Math.PI
    );
    ctx.fillStyle = "rgb(0,0,0)";
    ctx.fill();

    /*
    Check timings
    */
    _timeElapsed = performance.now() - _timeElapsed
    if (_timeElapsed > testObject.endTime) {
      //write the data out
      if (isMatchingMode) {
        captureData(_testSequence[_testIndex - 1])
        outputItemsEl.style.visibility = "hidden"
      } else {
        outputItemsEl.style.visibility = "visible"
      }

      _testIndex++
    }

    //loop!!
    requestAnimationFrame(drawCanvas)
  }

  function captureData(testObject) {
    var date = new Date()
    date.toLocaleString('en-us', {
      weekday: 'short',
      year: 'numeric',
      month: 'short',
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit'
    });
    OUTPUT_DATA.push({
      Test_Type: "AF",
      R: testObject.leftCircleRGB[0],
      G: testObject.leftCircleRGB[1],
      B: testObject.leftCircleRGB[2],

      H: testObject.leftCircleHSL[0],
      S: testObject.leftCircleHSL[1],
      L: testObject.leftCircleHSL[2],
      timestamp: date,
    })
    var _hsl = rgbToHSL(...[UserColor.getRed(), UserColor.getGreen(), UserColor.getBlue()])
    OUTPUT_DATA.push({
      Test_Type: "MF",
      R: UserColor.getRed(),
      G: UserColor.getGreen(),
      B: UserColor.getBlue(),
      H: _hsl[0],
      S: _hsl[1],
      L: _hsl[2],
      timestamp: date,
    })

    downloadEl.style.display = "block"
    console.log(OUTPUT_DATA);
  }

  window.addEventListener("resize", function(e) {
    getScreenSize()
  })

  rSlider.noUiSlider.on('update', function(values) {
    UserColor = UserColor.setRed(Math.round(values[0]))
    updateOutput()
  });
  gSlider.noUiSlider.on('update', function(values) {
    UserColor = UserColor.setGreen(Math.round(values[0]))
    updateOutput()
  });
  bSlider.noUiSlider.on('update', function(values) {
    UserColor = UserColor.setBlue(Math.round(values[0]))
    updateOutput()
  });

  getScreenSize()

  drawCanvas()
  </script>
</body>

</html>